<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test verbose="2" preserve-order="true" name="MyAppTest">
        <classes>

            <class name="testPackage.FirstTest">
                <methods>
                    <include name="m1"/>
                    <include name="m2"/>
                </methods>
            </class>

            <class name="testPackage.SecondTest">
                <methods>
                    <include name="m3"/>
                    <include name="m4"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>